body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34; /* Cor de fundo */
}

.ConsoleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.console {
  width: 15px;
  height: 25px;
  background-color: #d3d3d3; /* Cor do bloco piscando */
  animation: blink 1s step-end 3, transitionAnimation 4s forwards 3s; /* Piscando e transição */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes transitionAnimation {
  0% {
    width: 15px;
    height: 25px;
  }
  25% {
    width: 2px; /* Linha fina */
    height: 25px;
  }
  50% {
    width: 2px;
    height: calc(100vh - 80px); /* Aumenta até a altura da tela menos margem maior */
  }
  100% {
    width: calc(100vw - 80px); /* Transforma-se na caixa com margem maior */
    height: calc(100vh - 80px); /* Altura da tela menos margem maior */
    border-radius: 15px; /* Borda arredondada */
    border: 2px solid #d3d3d3; /* Borda cinza clara */
    background-color: transparent; /* Interior transparente */
  }
}
